<div class="row">
  <div class="col-md-2 text-center">
    <a [routerLink]="['/project',project.id]">
      <app-project-thumbnail [picture]="project.mainPicture"></app-project-thumbnail>
    </a>
  </div>
  <div class="col-md-6 text-justify">
    <a [routerLink]="['/project',project.id]">
      <app-project-description [description]="project.briefDescription"></app-project-description>
    </a>
  </div>
  <div class="col-md-3 text-center">
    <app-project-stats [projectId]="project.id"></app-project-stats>
  </div>
</div>
