.lift-input {
  /*justify-content: space-between;*/
}

button {
  border-radius: 20%;
  border: none;
}
.add-icon {
  font-size: 1.3em;
}

.del-icon {
  font-size: 0.8em;
}
@keyframes blink {
  0% { color: var(--text-color); }
  20% { color: white; }
  100% { color: var(--text-color); }
}
.save-button-warning {
  animation: blink 1s infinite;
}
