

/*.lift-input {*/
/*  !*justify-content: space-between;*!*/
/*}*/

/*button {*/
/*  border: none;*/
/*  background: var(--transparent-color) !important;*/
/*}*/

/*.add-icon {*/
/*  font-size: 1.5em;*/
/*}*/
/*.save-icon {*/
/*  font-size: 1.5em;*/
/*}*/
/*.del-icon {*/
/*  font-size: 0.8em;*/
/*}*/


/*@keyframes blink {*/
/*  0% { color: var(--text-color); }*/
/*  50% { color: white; }*/
/*  100% { color: var(--text-color); }*/
/*}*/
/*.save-button-warning {*/
/*  animation: blink .5s infinite;*/
/*}*/
