.lift-input {
  /*justify-content: space-between;*/
}

button {
  border-radius: 20%;
  border: none;
}
.add-icon {
  font-size: 1.3em;
}

.del-icon {
  font-size: 0.8em;
}

.save-button-warning {
  color: #09b209;
}
