<!--<div *ngIf="project !== undefined; else loadingProjects">-->
<!--  <div class="row">-->
<!--    <div class="col-md-10">-->
<!--      <div class="text-center">-->
<!--        <h1>{{project.title}}</h1>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <br>-->
<!--      <quill-view [content]="project.description" format="html" theme="snow"></quill-view>-->
<!--    </div>-->
<!--    <div class="col-md-2 small text-secondary">-->
<!--      <p>Created by: {{project.author}}</p>-->
<!--      <p>Last update: {{latestUpdateDate}} {{latestUpdateTime}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<ng-template #loadingProjects>-->
<!--  <div class="d-flex justify-content-center">-->
<!--    <div class="spinner-border text-secondary" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
