<div *ngIf="loaded; else loading">
  <div class="mt-1">
    <p-tree class="w-full md:w-30rem" [value]="exercisesTree" [filter]="true" filterPlaceholder="Find Exercise">
      <ng-template let-node pTemplate="default">
        <b class="text-700 hover:text-primary">{{ node.label }}</b>
      </ng-template>

      <ng-template let-node pTemplate="statisticsNode">
        <b (click)="navigateToStatistics(node.data)" class="text-700 hover:text-primary">{{ node.label }}</b>
      </ng-template>
    </p-tree>
  </div>
  <div class="mt-1">
    <p-accordion>
      <p-accordionTab header="Add new exercise">
        <app-add-exercise></app-add-exercise>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<div>
  <ng-template #loading>
    <div class="mt-2">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
