<form (ngSubmit)="onSubmit(addExerciseForm)" #addExerciseForm="ngForm">
  <fieldset>
    <legend>Add your exercise</legend>
  <div class="form-group">
    <label for="inputExerciseName">Exercise</label>
    <input type="text"
           class="form-control"
           id="inputExerciseName"
           name="inputExerciseName"
           placeholder="Enter exercise name"
           required
           [(ngModel)]="exerciseName"
           #exercise="ngModel">
    <small *ngIf="!exercise.valid && exercise.touched" class="form-text text-danger">
      This field is not valid
    </small>
  </div>
  <button type="submit" class="btn btn-primary mt-2" [disabled]="!addExerciseForm.valid">Add</button>
    </fieldset>
</form>
