<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <i class="bi bi-list"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{'show': isNavbarVisible}">
      <div *ngIf="isSigned()">
        <ul class="nav nav-pills" *ngIf="isSigned()">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/my-profile/daily-report" (click)="toggleNavbar()">
              Daily Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/my-profile/exercises" (click)="toggleNavbar()">
              Your Exercises
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/my-profile/plans/show-plans" (click)="toggleNavbar()">
              Your Plans
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="navbar-brand" [ngClass]="{'gm-name': blink}" href="">GM</a>
    <div class="d-flex">
      <div *ngIf="isSigned()">
        <div class="dropdown">
          <span (click)="toggleUserOption()" class="dropdown-toggle" type="button" id="userOptions" data-toggle="dropdown" >
            {{username}} <i class="bi bi-gear"></i>
          </span>
          <div class="dropdown-menu gm-dropdown" aria-labelledby="userOptions" [ngClass]="{'show': isUserOptionVisible}">
              <a class="dropdown-item" (click)="onSignOut()">sign out</a>
          </div>
        </div>
<!--        <ul class="nav justify-content-end">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" (click)="toggleUserOption()">-->
<!--              {{username}} <i class="bi bi-gear"></i>-->
<!--            </a>-->
<!--            <div class="collapse navbar-collapse" id="navbarUserOption" [ngClass]="{'show': isUserOptionVisible}">-->
<!--                <ul class="nav nav-pills">-->
<!--                  <li class="nav-item">-->
<!--                    <a class="nav-link" (click)="onSignOut()">-->
<!--                      Sign Out-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
      <div *ngIf="!isSigned()">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-item nav-link " routerLink="/sign-in">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/sign-up">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
