<div class="mt-2">
  <form (ngSubmit)="onSubmit()" #updateExerciseForm="ngForm">
    <fieldset>
    <legend>{{exercise.title}}</legend>
    <div class="col-2">
      <label for="inputSeries" class="form-label">Number of series: {{inputSeries}}</label>
      <input type="range" class="form-range" min="1" max="10" id="inputSeries" name="inputSeries" [(ngModel)]="inputSeries" (ngModelChange)="updateExerciseArrays(inputSeries)" #series="ngModel">
    </div>
    <div class="d-flex flex-row bd-highlight mt-2">
      <div>
        <div>
          <label *ngIf="inputRepetitionsArray.length > 0">Number of repetitions:</label>
        </div>
        <div class="d-flex">
          <div class="form-group" *ngFor="let r of inputRepetitionsArray; let i = index">
            <input class="form-control"
                   type="number"
                   id="inputRepetitions{{i}}"
                   name="inputRepetitions{{i}}"
                   [(ngModel)]=r.value
                   required
                   #repetitions="ngModel"
                   min="1" step="1">
            <small *ngIf="!repetitions.valid && repetitions.touched" class="form-text text-danger"></small>
          </div>
        </div>
        <div>
          <label *ngIf="inputWeightArray.length > 0">Weight (kg):</label>
        </div>
        <div class="d-flex">
          <div class="form-group" *ngFor="let w of inputWeightArray; let i = index">
            <input class="form-control"
                   type="number"
                   id="inputWeight{{i}}"
                   name="inputWeight{{i}}"
                   [(ngModel)]="w.value"
                   required #weight="ngModel">
            <small *ngIf="!weight.valid && weight.touched" class="form-text text-danger"></small>
          </div>
        </div>

      </div>
    </div>

    <div class="mt-2">
      <button type="submit" class="btn btn-primary" [disabled]="!updateExerciseForm.valid">Save</button>
    </div>
    </fieldset>
  </form>
</div>

