<!--<div>-->
<!--  <div>-->
<!--    <button class="btn btn-info col-12" [routerLink]="['/my-profile']">My Projects</button>-->
<!--  </div>-->
<!--  <br>-->
<!--  <br>-->
<!--  <div>-->
<!--    <form (ngSubmit)="onSubmit(quillEditorComponent.quillEditor)" #signInForm="ngForm">-->
<!--      <div class="form-group">-->
<!--        <label for="inputProjectTitle">Project Title</label>-->
<!--        <input type="text"-->
<!--               class="form-control"-->
<!--               id="inputProjectTitle"-->
<!--               name="inputProjectTitle"-->
<!--               placeholder="My awesome project..."-->
<!--               required-->
<!--               [(ngModel)]="inputProjectTitle"-->
<!--               #projectTitle="ngModel">-->
<!--        <small *ngIf="!projectTitle.valid && projectTitle.touched" class="form-text text-danger">-->
<!--          You must insert a title!-->
<!--        </small>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="inputBriefDescription">Brief Description</label>-->
<!--        <textarea type="text"-->
<!--                  class="form-control"-->
<!--                  id="inputBriefDescription"-->
<!--                  name="inputBriefDescription"-->
<!--                  placeholder="This masterpiece..."-->
<!--                  required-->
<!--                  minlength="32"-->
<!--                  maxlength="256"-->
<!--                  rows="4"-->
<!--                  [(ngModel)]="inputBriefDescription"-->
<!--                  #BriefDescription="ngModel">-->
<!--          </textarea>-->
<!--        <small *ngIf="!BriefDescription.valid && BriefDescription.touched" class="form-text text-danger">-->
<!--          A brief description is required, 32-256 signs.-->
<!--        </small>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label class="btn btn-info"> Upload Picture-->
<!--          <input hidden type="file" (change)="fileChangeEvent($event)"/>-->
<!--        </label>-->
<!--        <div class="d-flex justify-content-center">-->
<!--          <div *ngIf="imageChangedEvent !== ''" class="col-md-6">-->
<!--            <image-cropper-->
<!--              [imageChangedEvent]="imageChangedEvent"-->
<!--              [maintainAspectRatio]="true"-->
<!--              [aspectRatio]="4 / 4"-->
<!--              [resizeToWidth]="256"-->
<!--              (imageCropped)="imageCropped($event)">-->
<!--            </image-cropper>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <div >-->
<!--                <img [src]="croppedImage" alt="Main picture"/>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="inputProjectDescription">Project Description</label>-->
<!--        <quill-editor-->
<!--          id="inputProjectDescription"-->
<!--          #quillEditorComponent-->
<!--          [modules]="modules">-->
<!--        </quill-editor>-->
<!--      </div>-->
<!--      <br>-->
<!--      <button type="submit" class="btn btn-primary" [disabled]="!signInForm.valid">Add Project</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
