:root {
  --primary-color: radial-gradient(circle, rgb(22, 22, 37) 52%, rgb(11, 20, 23) 100%);
  --secondary-color: rgba(66, 13, 13, 100);
  --disabled-color: rgba(52, 51, 51, 100);
  --disabled-text-color: rgba(210, 184, 184, 100);
  --background-color: radial-gradient(circle, rgba(27, 27, 41, 1) 52%, rgba(21, 28, 51, 1) 100%);
  --text-color: #f6d0a1;
  --active-color: radial-gradient(circle, rgb(39, 39, 59) 52%, rgb(27, 36, 66) 100%);
  --transparent-color: rgba(0, 0, 0, 0);
  --navbar-color: radial-gradient(circle, rgb(16, 16, 35) 52%, rgb(17, 22, 40) 100%);
}


a, .navbar a, li, .nav-link, p, span, body, .navbar, body a:visited, .navbar a:visited, .nav-link:visited {
  color: var(--text-color);
}

body a:hover, body a:active, .navbar a:hover, .nav-link:hover, .nav-link:active {
  color: var(--active-color);
}

.navbar {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--navbar-color);

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--background-color);

}

html, body {
  height: 100%;
}

input[type=text], input[type=number], input[type=number]:active:focus, input[type=text]:active:focus {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .1em solid var(--text-color);
  background: var(--transparent-color) !important;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: var(--text-color);
}


input[type=number]:active:focus, input[type=number]:active, input[type=number]:focus {
  outline: 1px solid white;
  color: var(--active-color);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  appearance: none;
}

button {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 0.6em 1em;
  border-width: 0.1em !important;
  border: solid;
  border-color: var(--text-color);
  cursor: pointer;
}

button:disabled {
  background: var(--disabled-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
}
