<!--<div>-->
<!--  <div class="row justify-content-center">-->
<!--    <button class="btn btn-info col-5" [routerLink]="['/my-profile/add-project']">Add Project</button>-->
<!--    <button class="btn btn-info col-5 offset-1" [routerLink]="['/my-profile/saved-projects']">Saved Projects</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <div class="text-left text-info pt-3">-->
<!--      <h4>MY PROJECTS</h4>-->
<!--    </div>-->
<!--  </div>-->
<!--  <br>-->
<!--  <div *ngIf="projects; else loadingProjects">-->
<!--    <ul>-->
<!--      <li *ngFor="let project of projects">-->
<!--        <div class="row">-->
<!--          <div class="col-md-8 bg-light">-->
<!--            <app-project [project]="project"></app-project>-->
<!--          </div>-->
<!--          <div class="col-md-4 ">-->
<!--            <button class="btn btn-info col-3 m-1 text-center" (click)="updateVisibility(project.id, !project.visible)">-->
<!--              <div *ngIf="project.visible; else nonVisible">-->
<!--                <i class="bi bi-eye"></i>-->
<!--              </div>-->
<!--              <ng-template #nonVisible>-->
<!--                <i class="bi bi-eye-slash"></i>-->
<!--              </ng-template>-->
<!--            </button>-->
<!--            <button class="btn btn-danger col-3 m-1 text-center" (click)="onProjectDelete(project.id)">-->
<!--              <i class="bi bi-x-lg"></i>-->
<!--            </button>-->
<!--            <button class="btn btn-secondary col-3 m-1 text-center"-->
<!--                    [routerLink]="['/my-profile/edit-project', project.id]">-->
<!--              <i class="bi bi-pen"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <ng-template #loadingProjects>-->
<!--    <div class="d-flex justify-content-center">-->
<!--      <div class="spinner-border text-secondary" role="status">-->
<!--        <span class="sr-only">Loading...</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</div>-->
